.addBtn{
  position: relative;
  margin-left: -100px;
}

.deleteBtn{
  margin-left: 10px;
}

.marg{
  margin-right: 300px;
}

li{
  list-style-type: none;
}

.userFind{
  width: 100px;
}

.userFindInput{
  width: 200px;
}

.inputColumn{
  border-spacing: 10px;
}

.panel{
  flex-direction: row;
  align-items: center;
  justify-content:center;
}

.table{
  border-spacing: 7px 11px;
}

.setTextMid{
  text-align: center;
}

.setColumnTextMid{
  vertical-align: middle;
  width: 20%;
}

.setColumnInnerTextMid{
  vertical-align: middle;
  width: 15%;
}
.centered {
  position: fixed; /* or absolute */
  top: 50%;
  left: 50%;
  width: 500px;
  height: 400px;
  margin: -200px 0 0 -150px;
}

.credentials{
  text-align: center;
}

.cent{
  margin-top: 20px;
  margin-left: 20%;
  width: 100px;
}

.space{
  height: 10px;
}

.wrong_cred{
  margin-right: 50%;
  color: red;
}

.btn-height{
  height: 40px;
}
